<div class="form-group">   
	<ul class="list-unstyled list-inline pull-right">  
		<li> 
			<button class="btn btn-primary" ng-click="addLeaves( )"><span class="fa fa-check"></span> Apply Leave </button> 
		</li>  
	</ul>  
	<h2>My Leave Application</h2> <br />  
</div>
<input class="form-control" ng-model="com.company_id" style="display:none"></input>
<div class="row row-base">
	<div class="form-group">     
		<div class="col-lg-3 pull-right">
			<select class="form-control" ng-model="search.status"> 
				<option value="" ng-model="search">Select Status</option> 
				<option value="Approved by HR">Approved by HR</option>
				<option value="Dissaproved by HR">Dissaproved by HR</option>
				<option value="For Manager Approval">For Manager Approval</option> 
				<option value="Approved by Manager">Approved by Manager</option> 
				<option value="Dissaproved by Manager">Dissaproved by Manager</option>
			</select> 
		</div> 
		<div class="col-lg-3" ng-repeat="getRole in rolesId"> 
			<div class="input-group" ng-if="getRole.role_id == '5' || getRole.role_id == '6'"> 
				<input type="text" class="form-control col-xs-12" placeholder="Search Employee" ng-model="search.employee"> 
				<span class="input-group-addon"><i class="fa fa-search"></i> </span>
			</div> 
		</div>
	</div>  
	<div class="col-lg-12" ng-repeat="getRole in rolesId"><br />
		<!-- FOR ADMIN -->
	<!-- <div class="table-responsive" ng-if="getRole.role_id == '5'">
		<table class="table table-hover">
			<thead style="background-color:#2A3F54;color:white">
				<tr>
					<th style="display:none">ID</th>  
					<th>Date Filed</th>
					<th class="text-left">Employee</th>
					<th class="text-left">Leave Type</th> 
					<th class="text-center">From</th>
					<th class="text-center">To</th> 
					<th class="text-center">Day(s)</th>
					<th class="text-center">Mode</th> 
					<th class="text-center">Status</th> 
					<th class="text-right">Action</th> 
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="leaveApp in leaveApps|itemsPerPage:15|filter:search">
					<td style="display:none"> {{leaveApp.id}} </td> 
					<td> {{leaveApp.dateFiled}} </td>
					<td class="text-left"> {{leaveApp.employee}} </td>
					<td class="text-left"> {{leaveApp.name}} </td> 
					<td class="text-center"> {{leaveApp.durFrom}} </td>
					<td class="text-center"> {{leaveApp.durTo}} </td> 
					<td class="text-center"> {{leaveApp.days_applied}} </td> 
					<td class="text-center"> {{leaveApp.mode}} </td> 
					<td class="text-center" ng-if="leaveApp.status == 'Approved by Manager' "><span class="label label-green"> {{leaveApp.status}} </span></td> 
					<td class="text-center" ng-if="leaveApp.status == 'Dissaproved by Manager' "><span class="label label-gray"> {{leaveApp.status}} </span></td>  
					<td class="text-center" ng-if="leaveApp.status == 'Approved by HR' "><span class="label label-violet"> {{leaveApp.status}} </span></td>
					<td class="text-center" ng-if="leaveApp.status == 'Dissaproved by HR' "><span class="label label-gray"> {{leaveApp.status}} </span></td>
					<td class="text-center" ng-if="leaveApp.status == 'For Manager Approval' "><span class="label label-brown"> {{leaveApp.status}} </span></td>
					<td class="text-right">  
						<a class="btn btn-default btn-xs" title="Edit" ng-click="editLeave( leaveApp )" ng-if="leaveApp.status == 'For Manager Approval'"> 
							<i class="fa fa-pencil"></i>
						</a>
						<a class="btn btn-danger btn-xs" title="Cancel" ng-click="delete( leaveApp.id )">
							<i class="fa fa-times"></i>
						</a> 
					</td>
				</tr>
			</tbody>
		</table> 
		<dir-pagination-controls
			class="pull-right"
			max-size="10"
			direction-links="true"
			boundary-links="true" >
		</dir-pagination-controls>  
	</div> -->
	<div class="table-responsive" ng-if="getRole.role_id == '4' || getRole.role_id == '5'">
		<table class="table table-hover"> <!-- FOR USER && ADMIN -->
			<thead class="table-header">
				<tr>
					<th style="display:none">ID</th>  
					<th>Date Filed</th>
					<!-- <th class="text-left">Employee4</th> -->
					<th class="text-left">Leave Type</th> 
					<th class="text-center">From</th>
					<th class="text-center">To</th> 
					<th class="text-center">Day(s)</th>
					<th class="text-center">Mode</th> 
					<th class="text-center">Status</th> 
					<th class="text-right">Action</th> 
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="leaveUserApp in leaveUserApps|itemsPerPage:15|filter:search">
					<td style="display:none"> {{leaveUserApp.id}} </td> 
					<td> {{leaveUserApp.dateFiled}} </td>
					<!-- <td class="text-left"> {{leaveUserApp.employee}} </td> -->
					<td class="text-left"> {{leaveUserApp.name}} </td> 
					<td class="text-center"> {{leaveUserApp.durFrom}} </td>
					<td class="text-center"> {{leaveUserApp.durTo}} </td> 
					<td class="text-center"> {{leaveUserApp.days_applied}} </td> 
					<td class="text-center"> {{leaveUserApp.mode}} </td> 
					<td class="text-center" ng-if="leaveUserApp.status == 'Approved by Manager' "><span class="label label-green"> {{leaveUserApp.status}} </span></td> 
					<td class="text-center" ng-if="leaveUserApp.status == 'Dissaproved by Manager' "><span class="label label-gray"> {{leaveUserApp.status}} </span></td>  
					<td class="text-center" ng-if="leaveUserApp.status == 'Approved by HR' "><span class="label label-violet"> {{leaveUserApp.status}} </span></td>
					<td class="text-center" ng-if="leaveUserApp.status == 'Dissaproved by HR' "><span class="label label-gray"> {{leaveUserApp.status}} </span></td>
					<td class="text-center" ng-if="leaveUserApp.status == 'For Manager Approval' "><span class="label label-brown"> {{leaveUserApp.status}} </span></td> 
					<td class="text-right">  
						<a class="btn btn-default btn-sm" title="Edit" ng-click="editLeave( leaveUserApp )" ng-if="leaveUserApp.status == 'For Manager Approval'"> 
							<i class="fa fa-pencil"></i>
						</a>
						<a class="btn btn-danger btn-sm" title="Cancel" ng-click="delete( leaveUserApp.id )">
							<i class="fa fa-times"></i>
						</a> 
					</td>
				</tr>
			</tbody>
		</table> 
		<dir-pagination-controls
		class="pull-right"
		max-size="10"
		direction-links="true"
		boundary-links="true" >
	</dir-pagination-controls>  
</div> 
<div class="table-responsive" ng-if="getRole.role_id == '6'">
	<table class="table table-hover"> <!-- FOR MANAGER -->
		<thead class="table-header">
			<tr>
				<th style="display:none">ID</th>  
				<th>Date Filed</th>
				<th class="text-left">Employee</th>
				<th class="text-left">Leave Type</th> 
				<th class="text-center">From</th>
				<th class="text-center">To</th> 
				<th class="text-center">Day(s)</th>
				<th class="text-center">Mode</th> 
				<th class="text-center">Status</th> 
				<th class="text-right">Action</th> 
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate="leaveManagerApp in leaveManagerApps|itemsPerPage:15|filter:search">
				<td style="display:none"> {{leaveManagerApp.id}} </td> 
				<td> {{leaveManagerApp.dateFiled}} </td>
				<td class="text-left"> {{leaveManagerApp.employee}} </td>
				<td class="text-left"> {{leaveManagerApp.name}} </td> 
				<td class="text-center"> {{leaveManagerApp.durFrom}} </td>
				<td class="text-center"> {{leaveManagerApp.durTo}} </td> 
				<td class="text-center"> {{leaveManagerApp.days_applied}} </td> 
				<td class="text-center"> {{leaveManagerApp.mode}} </td> 
				<td class="text-center" ng-if="leaveManagerApp.status == 'Approved by Manager' "><span class="label label-green"> {{leaveManagerApp.status}} </span></td> 
				<td class="text-center" ng-if="leaveManagerApp.status == 'Dissaproved by Manager' "><span class="label label-gray"> {{leaveManagerApp.status}} </span></td>  
				<td class="text-center" ng-if="leaveManagerApp.status == 'Approved by HR' "><span class="label label-violet"> {{leaveManagerApp.status}} </span></td>
				<td class="text-center" ng-if="leaveManagerApp.status == 'Dissaproved by HR' "><span class="label label-gray"> {{leaveManagerApp.status}} </span></td>
				<td class="text-center" ng-if="leaveManagerApp.status == 'For Manager Approval' "><span class="label label-brown"> {{leaveManagerApp.status}} </span></td> 
				<td class="text-right">  
					<a class="btn btn-default btn-sm" title="Approve" ng-click="approveLeave( leaveManagerApp )" ng-if="leaveManagerApp.status == 'For Manager Approval' ">
						<i class="fa fa-thumbs-o-up"></i>
					</a>
					<a class="btn btn-default btn-sm" title="Dissaprove" ng-click="declineLeave( leaveManagerApp )" ng-if="leaveManagerApp.status == 'For Manager Approval' ">
						<i class="fa fa-thumbs-o-down"></i>
					</a>
					<a class="btn btn-default btn-sm" title="Edit" ng-click="editLeave( leaveManagerApp )" ng-if="leaveManagerApp.status == 'For Manager Approval'"> 
						<i class="fa fa-pencil"></i>
					</a>
					<a class="btn btn-default btn-sm" title="Cancel" ng-click="delete( leaveManagerApp.id )">
						<i class="fa fa-times"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table> 
	<dir-pagination-controls
	class="pull-right"
	max-size="10"
	direction-links="true"
	boundary-links="true" >
</dir-pagination-controls>  
</div> 
</div>
</div>






