<div class="form-group">   
	<ul class="list-unstyled list-inline pull-right" ng-show="emp_status">  
		<li> 
			<button class="btn btn-primary" ng-click="empStatusDialog()"><span class="fa fa-check"></span> {{navbarField.emp_status}} </button>
			<button class="btn btn-default"><span class="fa fa-print"></span> Print</button>
		</li>  
	</ul>  
	<h2>Employee Information </h2>
	<p>This form is to show and input all the information of the employee including its employment history and other information that is inline to its profile.</p>
</div> <br />  
<div class="container-fluid row-base"><br />  
	<form class="form-horizontal" name="userForm" ng-submit="submitForm(userForm.$valid)" enctype="multipart/form-data" novalidate>
		<div class="col-lg-2  col-xs-12">  
			<img 	class="img-responsive thumb" 
			ng-show="userForm.file.$valid" 
			ngf-thumbnail="navbarField.image" />

			<input 	type="file" 
			ngf-select 
			ng-model="navbarField.image" 
			name="file"   
			ngf-max-size="2MB" />
			<i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2MB </i>  
		</div>
		<div class="col-lg-10">
			<div class="row">
				<div class="col-lg-4 col-md-4">  
					<div class="form-group has-feedback" ng-class="{ 'has-error': (userForm.firstname.$invalid && userForm.firstname.$touched) }">
						<label class="col-lg-4">Firstname<span>*</span></label>
						<div class="col-lg-8">
							<input class="form-control" type="text" name="firstname" ng-model="navbarField.fName" ng-disabled="firstname" required></input>
							<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="(userForm.firstname.$invalid  && userForm.firstname.$touched) "></span>
							<input class="form-control" type="hidden" ng-model="navbarField.role_id"></input>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="form-group has-feedback" ng-class="{ 'has-error': (userForm.mi.$invalid && userForm.mi.$touched) }">
						<label class="col-lg-4">Middlename<span>*</span></label>
						<div class="col-lg-8">
							<input class="form-control" type="text"  name="mi" ng-model="navbarField.mi" ng-disabled="employeeId" required></input> 
							<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="(userForm.mi.$invalid  && userForm.mi.$touched) "></span>
						</div>
					</div> 
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="form-group has-feedback" ng-class="{ 'has-error': (userForm.lastname.$invalid && userForm.lastname.$touched) }">
						<label class="col-lg-4">Lastname<span>*</span></label>
						<div class="col-lg-8"> 
							<input class="form-control" type="text"  name="lastname" ng-model="navbarField.lName" ng-disabled="employeeId" required></input> 
							<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="(userForm.lastname.$invalid  && userForm.lastname.$touched) "></span>
						</div>
					</div>
				</div> 
			</div><hr />
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="form-group has-feedback" ng-class="{ 'has-error': (userForm.employee_id.$invalid && userForm.employee_id.$touched) }">
						<label class="col-lg-4">Employee ID<span>*</span></label>
						<div class="col-lg-8">
							<input class="form-control" type="text"  name="employee_id" ng-model="navbarField.employee_id" ng-disabled="employeeId" required></input> 
							<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="(userForm.employee_id.$invalid  && userForm.employee_id.$touched) "></span>
						</div>
					</div> 
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="form-group has-feedback" ng-class="{ 'has-error': (userForm.datehired.$invalid && userForm.datehired.$touched) }">
						<label class="col-lg-4">Date Hired<span>*</span></label>
						<div class="col-lg-8">
							<div class="input-group" moment-picker="navbarField.dateHired" format="YYYY-MM-DD"> 
								<input class="form-control" name="datehired" ng-model="navbarField.dateHired" ng-disabled="dateHired" required>
								<span class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</span>
							</div>
						</div>
					</div>  
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="form-group has-feedback" ng-class="{ 'has-error': (userForm.company.$invalid && userForm.company.$touched) }">
						<label class="col-lg-4">Company<span>*</span></label>
						<div class="col-lg-8"> 
							<select class="form-control" name="company" ng-model="navbarField.company_id" ng-options="company.id as company.code for company in companies" ng-disabled="company" required></select>
						</div>
					</div> 
				</div> 
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4">  
					<div class="form-group has-feedback" ng-class="{ 'has-error': (userForm.branch.$invalid && userForm.branch.$touched) }">
						<label class="col-lg-4">Branch<span>*</span></label>
						<div class="col-lg-8"> 
							<select class="form-control" name="branch" ng-model="navbarField.branch_id" ng-options="branch.id as branch.name for branch in branches" ng-disabled="branch" required></select> 
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">  
					<div class="form-group has-feedback" ng-class="{ 'has-error': (userForm.position.$invalid && userForm.position.$touched) }">
						<label class="col-lg-4">Position<span>*</span></label>
						<div class="col-lg-8"> 
							<select class="form-control" name="position" ng-model="navbarField.position_id" ng-options="position.id as position.name for position in positions" ng-disabled="position" required></select> 
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="form-group has-feedback" ng-class="{ 'has-error': (userForm.shift.$invalid && userForm.shift.$touched) }">
						<label class="col-lg-4">Shift<span>*</span></label>
						<div class="col-lg-8">
							<select class="form-control" name="shift" ng-model="navbarField.shiftgroup_id" ng-options="shift.id as shift.shiftName for shift in shifts" ng-disabled="shift" required></select> 
						</div>
					</div> 
				</div> 
			</div>  
			<ul class="list-unstyled list-inline pull-right"> 
				<li ng-show="saveNavbarBtn">
					<button class="btn btn-default btn-sm" ng-click="addNavbarField( navbarField )">
						<i class="glyphicon glyphicon-floppy-save"></i>
					</button> 
				</li> 
				<li ng-show="updateNavbarBtn"> 
					<button class="btn btn-default btn-sm" ng-click="updateNavbarField( navbarField )">
						<i class="glyphicon glyphicon-floppy-save"></i>
					</button>  
				</li>
				<li ng-show="enableNavbarBtn"> 
					<button class="btn btn-default btn-sm" ng-click="enableNavbarField( )">
						<i class="fa fa-pencil"></i>
					</button>  
				</li> 
				<li> 
					<button class="btn btn-default btn-sm" ui-sref="main.search">
						<i class="fa fa-arrow-left"></i>
					</button>  
				</li> 
			</ul>
		</div>   
	</form> 
</div> 
<div ng-show="employeeDetails"> <br />
	<div id="accordion">
		<div class="panel panel-default employee-navbar"> 
			<ul class="nav nav-justified nav-separator">
				<li class="text-center separator-radius activeNav" ng-click="activeLink(1)" ng-class="{selected:menu == 1 }"> 
					<a data-toggle="collapse" data-parent="#accordion" data-target="#personal" href=""> BASIC </a>
				</li>
				<li class="text-center separator-radius activeNav" ng-click="activeLink(2)" ng-class="{selected:menu == 2 }">
					<a data-toggle="collapse" data-parent="#accordion" data-target="#employment" href=""> EMPLOYMENT </a>
				</li>
				<li class="text-center activeNav" ng-click="activeLink(3)" ng-class="{selected:menu == 3 }">
					<a data-toggle="collapse" data-parent="#accordion" data-target="#payroll" href=""> PAYROLL </a>
				</li>
			</ul> <br />   
			<div class="collapse in" id="personal">  
				<ul class="nav nav-justified"> 
					<li class="text-center activeSubNav" ng-click="activeSubLink(1)" ng-class="{selected:menuSub == 1 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.personal" title="Personal Information"> <i class="fa fa-comments-o fa-3x"></i></button><br> Personal
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(2)" ng-class="{selected:menuSub == 2 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.basicContact" title="Contact Information"> <i class="fa fa-volume-control-phone fa-3x"></i> </button><br> Contact
					</li> 
					<li class="text-center activeSubNav" ng-click="activeSubLink(3)" ng-class="{selected:menuSub == 3 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.education" title="Educational Background"> <i class="fa fa-graduation-cap fa-3x"></i> </button><br> Education
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(4)" ng-class="{selected:menuSub == 4 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.awards" title="Awards and Achievements"> <i class="fa fa-trophy fa-3x"></i> </button><br> Awards
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(5)" ng-class="{selected:menuSub == 5 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.exam" title="Licensure and Examination"> <i class="fa fa-book fa-3x"></i> </button><br> Examinations
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(6)" ng-class="{selected:menuSub == 6 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.work" title="Work Experience"><i class="fa fa-globe fa-3x"></i> </button><br> Experience
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(7)" ng-class="{selected:menuSub == 7 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.skills" title="Skills"> <i class="fa fa-cog fa-3x"></i> </button><br> Skills
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(8)" ng-class="{selected:menuSub == 8 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.organization" title="Organization"> <i class="fa fa-sitemap fa-3x"></i> </button><br> Organization
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(9)" ng-class="{selected:menuSub == 9 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.training" title="Trainings and Seminars"> <i class="fa fa-television fa-3x"></i> </button><br> Trainings
					</li> 
				</ul>
			</div>
			<div class="collapse" id="employment"> 
				<ul class="nav nav-justified">
					<li class="text-center activeSubNav" ng-click="activeSubLink(10)" ng-class="{selected:menuSub == 10 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.medical" title="Medical Records"> <i class="fa fa-stethoscope fa-3x"></i> </button><br> Medical
					</li> 
					<li class="text-center activeSubNav" ng-click="activeSubLink(11)" ng-class="{selected:menuSub == 11 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.memo" title="Memorandum"> <i class="fa fa-file-text-o fa-3x"></i> </button><br> Memorandum
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(12)" ng-class="{selected:menuSub == 12 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.performance" title="Performance Review"> <i class="fa fa-line-chart fa-3x"></i> </button><br> Performance
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(13)" ng-class="{selected:menuSub == 13 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.recognition" title="Awards"> <i class="fa fa-trophy fa-3x"></i> </button><br> Awards
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(14)" ng-class="{selected:menuSub == 14 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.appointment" title="Appointment"> <i class="fa fa-calendar-check-o fa-3x"></i> </button><br> Appointment
					</li>
				</ul>
			</div>
			<div class="collapse" id="payroll"> 
				<ul class="nav nav-justified">
					<li class="text-center activeSubNav" ng-click="activeSubLink(15)" ng-class="{selected:menuSub == 15 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.service" title="Services"> <i class="fa fa-clock-o fa-3x"></i> </button><br> Services
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(16)" ng-class="{selected:menuSub == 16 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.loans" title="Loans"> <i class="fa fa-money fa-3x"></i> </button><br> Loans
					</li>
					<li class="text-center activeSubNav" ng-click="activeSubLink(17)" ng-class="{selected:menuSub == 17 }">
						<button type="button" class="btn btn-default btn-circle" ui-sref="main.menuNav.bank" title="Bank Account"> <i class="fa fa-book fa-3x"></i> </button><br> Account
					</li>
				</ul>
			</div>  
		</nav>
	</div>
	<div class="navtop col-lg-12"><br/> 
		<ui-view></ui-view>
	</div> 
</div> 


<!-- FOR PRINTING ALL EMPLOYEE INFORMATION -->

<!-- <button class="btn btn-default pull-right" ng-print print-element-id="printThisElement">Print</button>
<div id="printThisElement">  
	<div class="container-fluid row-base"> 
		<table>
			<tr>
				<td class="col-lg-6">Lastname:</td>
				<td class="col-lg-6">{{navbarField.lName}}</td>  
			</tr>
			<tr>

			</tr>
		</table>
	</div> 
</div> -->