<div class=" col-lg-12 table-responsive"> 
	<h4> List of Allowances
		<ul class="list-unstyled list-inline pull-right">  
			<li> 
				<button class="btn btn-link" ng-click="addDialogAllowance()"><span class="fa fa-plus"></span></button> 
			</li>  
		</ul> 
	</h4><br />
	<table class="table table-hover">
		<thead class="table-header"> 
			<tr> 
				<th style="display:none"> ID </th>
				<th>Name</th> 
				<th class="text-right">Action</th> 
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate= "allowance in allowances|filter:search|itemsPerPage:15">  
				<td style="display:none"> {{ allowance.id }} </td> 
				<td> {{ allowance.name }} </td>  
				<td class="text-right">
					<a class="btn btn-default btn-sm" title="Edit" ng-click="edit( allowance )">
						<i class="fa fa-pencil"></i>
					</a> 
					<a class="btn btn-default btn-sm" title="Delete" ng-click="deleteAllowanceType( allowance.id )">
						<i class="fa fa-trash"></i>
					</a> 
				</td>
			</tr>
		</tbody>
	</table>
</div>
<dir-pagination-controls
class="pull-right"
max-size="10"
direction-links="true"
boundary-links="true" >
</dir-pagination-controls>  
</div>  

