<h4><b><u>Contact Information</b></u> </h4><br />
<form class="form-horizontal"> 
	<div class="col-lg-12"> 
		<div class="col-lg-6"> 
			<div class="form-group " >
				<label class="col-lg-4">Residential Address<span>*</span></label>
				<div class="col-lg-8">
					<input class="form-control" type="text" name="resAdd" ng-model="profContact.resAdd" disabled></input>   
				</div>
			</div> 
			<div class="form-group " >
				<label class="col-lg-4">Permanent Address<span>*</span></label>
				<div class="col-lg-8">
					<input class="form-control" type="text" name="perAdd" ng-model="profContact.perAdd" disabled></input> 
				</div>
			</div>
			<div class="form-group " >
				<label class="col-lg-4">Provincial Address<span>*</span></label>
				<div class="col-lg-8">
					<input class="form-control" type="text" name="proAdd" ng-model="profContact.proAdd" disabled></input> 
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4">Telephone #1</label>
				<div class="col-lg-8">
					<input class="form-control" type="tel" ng-model="profContact.resTel1" disabled></input>
				</div>
			</div> 
			<div class="form-group">
				<label class="col-lg-4">Telephone #2</label>
				<div class="col-lg-8">
					<input class="form-control" type="tel" ng-model="profContact.resTel2" disabled></input>
				</div>
			</div>
		</div>
		<div class="col-lg-6"> 
			<div class="form-group">
				<label class="col-lg-4">Mobile #1</label>
				<div class="col-lg-8">
					<input class="form-control" type="text" maxlength="11" ng-model="profContact.resMobile1" disabled></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4">Mobile #2</label>
				<div class="col-lg-8">
					<input class="form-control" type="text" maxlength="11" ng-model="profContact.resMobile2" disabled></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-4">Email</label>
				<div class="col-lg-8">
					<input class="form-control" type="email" ng-model="profContact.resEmail" disabled></input>
				</div>
			</div>
		</div>   
	</div>
	<div class="col-lg-12"><br />
		<div class="col-lg-4">
			<h5><b><u>Father Information</u></b></h5><hr>
			<div class="form-group">
				<label class="col-lg-3">Name</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" ng-model="profContact.fatherName" disabled></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Address</label>
				<div class="col-lg-9">
					<textarea class="form-control" ng-model="profContact.faAdd" disabled></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Occupation</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" ng-model="profContact.faOccupation" disabled></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Company</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" ng-model="profContact.faCompany" disabled></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Contact No</label>
				<div class="col-lg-9">
					<input class="form-control" type="tel" max="11" ng-model="profContact.faNo" disabled></input>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<h5><b><u>Mother Information</u></b></h5><hr>
			<div class="form-group">
				<label class="col-lg-3">Name</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" ng-model="profContact.motherName" disabled></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Address</label>
				<div class="col-lg-9">
					<textarea class="form-control" ng-model="profContact.moAdd" disabled></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Occupation</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" ng-model="profContact.moOccupation" disabled></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Company</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" ng-model="profContact.moCompany" disabled></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Contact No</label>
				<div class="col-lg-9">
					<input class="form-control" type="tel" max="11" ng-model="profContact.moNo" disabled></input>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<h5><b><u>Spouse Information</u></b></h5><hr />
			<div class="form-group">
				<label class="col-lg-3">Name</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" ng-model="profContact.spouseName" disabled></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Address</label>
				<div class="col-lg-9">
					<textarea class="form-control" ng-model="profContact.spAdd" disabled></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Occupation</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" ng-model="profContact.spOccupation" disabled></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Company</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" ng-model="profContact.spCompany" disabled></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3">Contact No</label>
				<div class="col-lg-9">
					<input class="form-control" type="tel" max="11" ng-model="profContact.spNo" disabled></input>
				</div>
			</div> 
		</div> 
	</div> 
	<div class="col-lg-12 col-sm-12 table-responsive" ng-show="childrenInfo"><br />
		<table class="table table-hover">
			<thead class="table-header">
				<tr>
					<th style="display:none">ID</th>
					<th>Child Name</th>
					<th class="text-center">Gender</th>
					<th class="text-center">Date of Birth</th>
					<th class="text-center">Civil Status</th>
					<th class="text-center">Occupation</th>
					<th class="text-center">Company</th>  
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="profChildren in profChildrens|itemsPerPage:5"> 
					<td style="display:none"> {{profChildren.id}} </td>
					<td> {{profChildren.name}} </td>
					<td class="text-center"> {{profChildren.gender}} </td>
					<td class="text-center"> {{profChildren.dateBirth}} </td>
					<td class="text-center"> {{profChildren.civilStatus}} </td>
					<td class="text-center"> {{profChildren.occupation}} </td>
					<td class="text-center"> {{profChildren.company}} </td> 
				</tr><br />  
			</tbody>
		</table>
		<dir-pagination-controls
			class="pull-right"
			max-size="10"
			direction-links="true"
			boundary-links="true" >
		</dir-pagination-controls>  
	</div> 
</form>   
