<h4><b><u>Personal Information</b></u> </h4><br />
<form class="form-horizontal" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> 
    <div class="col-lg-4">   
        <div class="form-group has-feedback" ng-class="{ 'has-error': (userForm.biometric.$invalid && userForm.biometric.$touched) }">
            <label class="col-lg-4">Biometric ID<span>*</span></label>
            <div class="col-lg-8">
                <input class="form-control" type="text" name="biometric" ng-model="employee.biometric_id" required></input> 
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="(userForm.biometric.$invalid  && userForm.biometric.$touched) "></span> 
            </div>
        </div> 
        <div class="form-group">
            <label class="col-lg-4">SSS No.</label>
            <div class="col-lg-8">
                <input class="form-control" type="text"  ng-model="employee.sssNo" maxlength="10"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">PHIC No.</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="employee.phicNo" maxlength="12"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">HDMF No.</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="employee.hdmfNo" maxlength="12"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">TIN No.</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="employee.taxNo" maxlength="12"></input>
            </div>
        </div>  
        <div class="form-group">
            <label class="col-lg-4">Date of Birth</label>
            <div class="col-lg-8">
                <div class="input-group" moment-picker="employee.dateBirth" format="YYYY-MM-DD"> 
                    <input class="form-control" ng-model="employee.dateBirth">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">  
        <div class="form-group">
            <label class="col-lg-4">Place of Birth</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="employee.placeBirth"></input>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-lg-4">Gender</label>
            <div class="col-lg-8">
                <select class="form-control" ng-model="employee.gender">
                    <option></option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">Civil Status</label>
            <div class="col-lg-8">
                <select class="form-control" ng-model="employee.civilStatus">
                    <option></option>
                    <option>Single</option>
                    <option>Married</option> 
                    <option>Widow</option> 
                    <option>Widower</option> 
                    <option>Separated</option> 
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">Tax Status</label>
            <div class="col-lg-8">
                <select class="form-control" ng-model="employee.textstatus_id" ng-options="tax.id as tax.taxcode for tax in taxes"></select>  
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">Citizenship</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="employee.citizenship"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">Religion</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="employee.religion"></input>
            </div>
        </div>  
    </div>  
    <div class="col-lg-4"> 
        <div class="form-group">
            <label class="col-lg-4">Language</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="employee.language"></input>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-lg-4">Blood Type</label>
            <div class="col-lg-8"> 
                <select class="form-control" ng-model="employee.bloodType">
                    <option></option>
                    <option>O +</option>
                    <option>O -</option>
                    <option>A +</option>
                    <option>A -</option> 
                    <option>B +</option>
                    <option>B -</option>
                    <option>AB +</option>
                    <option>AB -</option> 
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">Height</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="employee.height"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">Weight (kg)</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="employee.weight"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">Hair</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="employee.hair"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">Complexion</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="employee.complexion"></input>
            </div>
        </div>
    </div> 
    <div class="col-lg-12"> 
        <ul class="list-unstyled list-inline pull-right"> 
            <li ng-show="add">
                <button class="btn btn-default btn-sm" ng-click="updateEmployee( employee  )"><i class="glyphicon glyphicon-floppy-save"></i></button> 
            </li> 
            <li ng-show="!add"> 
                <button class="btn btn-default btn-sm" ng-click="updateEmployee( employee )"><i class="glyphicon glyphicon-floppy-save"></i></button>  
            </li> 
        </ul>
    </div>
</form>
